.DS_Store
node_modules/
npm-debug.log
.idea/
deploy/
output/
dist/
.vscode/
dll/
.eslintcache
.cache/
jest-html-reporters-attach/
noBuildConfig/mainnpm.json
pnpm-out/
.pnpmfile.cjs
file-tree-flat.json
scan-comps.json
un-used.json
